<span class="m-2"></span>
<div class="container">
  <div style="overflow: auto;height: 375px;">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Product code</th>
        <th scope="col">Product Type</th>
        <th scope="col">Product Name</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Action</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of inventoryList ">
        <td>
          <button class="btn btn-link" (click)="open(item,true)">{{item.productCode}}</button>
        </td>
        <td>{{item.productType}}</td>
        <td>{{item.productName}}</td>
        <td>{{item.unitPrice | currency}}</td>
        <td>
          <button (click)="deleteItem(item.productCode)" class="btn btn-link"
                  data-toggle="tooltip" title="Delete Product">
            <i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>

      </tr>
      </tbody>
    </table>

  </div>
  <button class="btn btn-secondary  float-right" (click)="createNewComponent()">Create New</button>


</div>
