<span class="m-2"></span>
<div class="container" style="overflow: auto;height: 375px;">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">Order No</th>
      <th scope="col">UserName</th>
      <th scope="col">Order Date</th>
      <th scope="col">Delivery Date(Est)</th>
      <th scope="col">Total Cost</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of orders ">
      <td>
        <button class="btn btn-link" (click)="open(item)">{{item.uorderNo}}</button>
      </td>
      <td>{{item.username}}</td>
      <td>{{item.orderDate}}</td>
      <td>{{item.deliveryDate}}</td>
      <td>{{item.totalPrice | currency}}</td>

    </tr>
    </tbody>
  </table>
</div>



