<div class="container">
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <h3 class="card-title">Order Placed</h3>
      <div class="container">
        <div class="row">
          <div class="col">
            <h6 class="card-subtitle mb-2 text-muted">Order Number</h6>
            <p class="card-text">12345</p>
          </div>
          <div class="col">
            <h6 class="card-subtitle mb-2 text-muted">Order Date</h6>
            <p class="card-text">{{orderDate | date}}</p>
          </div>
        </div>
      </div>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>Delivery</h1>
          <div class="row">
            <div class="col">
              <h6 class="card-subtitle mb-2 text-muted">Status</h6>
              <p class="card-text">We received your order and it is in process</p>
            </div>
            <div class="col">
              <h6 class="card-subtitle mb-2 text-muted">Expected Delivery date</h6>
              <p class="card-text">{{deliveryDate | date}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
